<h2>Celebrities list</h2>
{{#each celebritiesFromDB}}
<h3>
{{name}}
    <a href="/celebrities/{{id}}"> See more</a>
     <a href="/celebrities/create"> Create celebrity</a>
<form action="/celebrities/{{id}}/delete" method="POST">
    <button type="submit">Delete</button>
</h3>
{{/each}}